.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/icon_v2_add.png') no-repeat center center;  background-size:20px auto;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/icon_v2_remove.png') no-repeat center center;  background-size:20px auto;
}
.icon-save{
	background:url('icons/icon_v2_filesave.png') no-repeat center center;  background-size:20px auto;
}
.icon-cut{
	background:url('icons/icon_v2_cut.png') no-repeat center center;  background-size:20px auto;
}
.icon-ok{
	background:url('icons/icon_v2_ok.png') no-repeat center center;  background-size:20px auto;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
/* .icon-reload{
	background:url('icons/reload.png') no-repeat center center;
} */
.icon-reload{
	background:url('icons/icon_v2_repick.png') no-repeat center center;  background-size:20px auto;
}
.icon-search{
	background:url('icons/icon_v2_search.png') no-repeat center center; background-size:18px auto;
}
.icon-download{
	background:url('icons/icon_v2_download.png') no-repeat center center; background-size:20px auto;
}
.icon-print{
	background:url('icons/icon_v2_print.png') no-repeat center center; background-size:20px auto;
}
.icon-help{
	background:url('icons/icon_v2_help.png') no-repeat center center; background-size:20px auto;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/icon_v2_redo.png') no-repeat center center; background-size:20px auto;
}
.icon-back{
	background:url('icons/icon_v2_back.png') no-repeat center center; background-size:20px auto;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/icon_v2_user.png') no-repeat center center; background-size:20px auto;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}

.icon-group{
	background:url('icons/group.png') no-repeat center center;
}

.icon-setting{
	background:url('icons/9.png') no-repeat center center;
}

.icon-shopping{
	background:url('icons/1_close.png') no-repeat center center;
}

.icon-large-edit{
	background:url('icons/large_edit.png') no-repeat center center;
}
.icon-large-exit{
	background:url('icons/large_exit.png') no-repeat center center;
}
.icon-large-refresh{
	background:url('icons/large_refresh.png') no-repeat center center;
}
.icon-large-cash{
	background:url('icons/large_cash.png') no-repeat center center;
}
.icon-large-locked{
	background:url('icons/locked.png') no-repeat center center;
	background-size:32px 32px;
}
.icon-large-unlock{
	background:url('icons/unlock.png') no-repeat center center;
	background-size:32px 32px;
}
