<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///E:/Utils/mybatis/mybatis-3-mapper.dtd"> -->
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!-- 添加分页插件 -->
    <plugins>
        <plugin interceptor="com.acl.utils.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.acl.utils.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
</configuration>