<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							               http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
							               http://www.springframework.org/schema/data/mongo  
							            	 http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
    <mongo:mongo-client id="mongo" host="${mongo.host}" port="${mongo.port}">
        <mongo:client-options connections-per-host="${mongo.connections-per-host}"
                              threads-allowed-to-block-for-connection-multiplier="${mongo.threads-allowed-to-block-for-connection-multiplier}"
                              connect-timeout="${mongo.connect-timeout}"
                              socket-timeout="${mongo.socket-timeout}"
                              socket-keep-alive="${mongo.socket-keep-alive}"
                              max-wait-time="${mongo.max-wait-time}"
        />
    </mongo:mongo-client>

    <!-- 指定数据库的名字，可以配置多数据源 -->
    <mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" mongo-ref="mongo"/>

    <!-- mongoTemplate操作模板 -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <!-- 自定义操作类 -->
    <bean id="mongoBaseService" class="com.acl.component.MongodbBaseDao">
        <property name="mongoTemplate" ref="mongoTemplate"/>
    </bean>

    <mongo:db-factory id="simMongoDbFactory" dbname="${mongo.sim.dbname}" mongo-ref="mongo"/>

    <!-- mongoTemplate操作模板 -->
    <bean id="simMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="simMongoDbFactory"/>
    </bean>

    <!-- 模拟盘mongo -->
    <bean id="simMongoBaseService" class="com.acl.component.SimMongodbBaseDao">
        <property name="mongoTemplate" ref="simMongoTemplate"/>
    </bean>

</beans>  