<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<!-- 支持异步方法执行 -->
	<!-- <task:annotation-driven /> 目前无可提供的作业调度-->

</beans>